<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLVT_PHANTAN2018.Properties.Settings.QLVATTUConnectionString"
            connectionString="Data Source=DESKTOP-0MQHN2E;Initial Catalog=QLVATTU;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QLVT_PHANTAN2018.Properties.Settings.QLVATTUConnectionString1"
            connectionString="Data Source=DESKTOP-0MQHN2E\PHUOC1;Initial Catalog=QLVATTU;User ID=ndpcn;Password=12"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>